  
<script type-"text/javascript">

       function mylinkfunction(e) {

       $('html,body').animate({
        scrollTop: $("#customers1").offset().top},
        'slow');

       }
       $(document).ready(function($) {
      $('#imageBack').height($(window).height());
 });

     </script>
<style>.btn-round-lg{
border-radius: 22.5px;


}
@media (max-width: 300px) {
    .my #imageBack  {
    
    background-image: image-url("images/background.png");
  }
}
@media (min-width: 301px) and (max-width: 600px) {
    .my #imageBack  {

    background-image: image-url("images/background.png");
  }
  #learnmoreh4{
      display:none;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
    .my #imageBack {

    background-image: image-url("images/background.png");
  }
}
@media (min-width: 769px) {
    .my #imageBack  {
 
    background-image: image-url("images/background.png");
  }
}



/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .my #imageBack  {
        
               content: url("images/background.png");
               max-width: 100%
         
  }
}

/* Smartphones (landscape) ----------- */

@media only screen and (min-width : 321px) {
    .my #imageBack  {
        
               content: url("images/background.png");
               max-width: 100%
         }
}



/* Smartphones (portrait) ----------- */

@media only screen and (max-width : 320px) {
    .my #imageBack  {
        
               content: url("images/background.png");
               max-width: 100%
         }
}

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .my #imageBack  {
        
               content: url("images/background.png");
               max-width: 100%
         }
}

/* iPads (landscape) ----------- */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .my #imageBack  {
        
               content: url("images/background.png");
               max-width: 100%
         }
}

/* iPads (portrait) ----------- */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .my #imageBack  {
        
               content: url("images/background.png");
               max-width: 100%
         }
}

/**********
iPad 3
**********/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    .my #imageBack  {
        
               content: url("images/background.png");
               max-width: 100%
         }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    .my #imageBack  {
 
        content: url("images/background.png");
        max-width: 100%
  }
}

/* Desktops and laptops ----------- */

@media only screen  and (min-width : 1224px) {
    .my #imageBack  {
 
        content: url("images/background.png");
        max-width: 100%
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
    .my #imageBack  {
 
        content: url("images/background.png");
        max-width: 100%
  }
}

/* iPhone 4 ----------- */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    .my #imageBack  {
 
        content: url("images/background.png");
        max-width: 100%
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    .my #imageBack  {
 
        content: url("images/background.png");
        max-width: 100%
  }
}

/* iPhone 5 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .my #imageBack  {
 
        content: url("images/background.png");
        max-width: 100%
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .my #imageBack  {
 
        content: url("images/background.png");
        max-width: 100%
  }
}

/* iPhone 6 ----------- */

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .my #imageBack  {
 
        content: url("images/background.png");
        max-width: 100%
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .my #imageBack  {
 
        content: url("images/background.png");
        max-width: 100%
  }
}

/* iPhone 6+ ----------- */

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .my #imageBack  {
 
        content: url("images/background.png");
        max-width: 100%
  }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .my #imageBack  {
 
        content: url("images/background.png");
        max-width: 100%
  }
}

/* Samsung Galaxy S3 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .my #imageBack  {
 
        content: url("images/background.png");
        max-width: 100%
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .my #imageBack  {
 
        content: url("images/background.png");
        max-width: 100%
  }
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    .my #imageBack  {
 
        content: url("images/background.png");
        max-width: 100%
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    .my #imageBack  {
 
        content: url("images/background.png");
        max-width: 100%
  }
}

/* Samsung Galaxy S5 ----------- */

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    .my #imageBack  {
 
        content: url("images/background.png");
        max-width: 100%
  }
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    .my #imageBack  {
 
        content: url("images/background.png");
        max-width: 100%
  }
}




</style>
<nav class="navbar navbar-fixed-top" id="mainpage" >
        <a href="#"> <img class="float-xs-left float-sm-left" style=" margin-top: 0.2%;"  src="images/qira01.png"/></a>
          <div class="collapse navbar-toggleable-xs" id="navigation">
          <ul class="nav navbar-nav  action-buttons float-sm-right">
              <li class="nav-item nav-loginin-button">
                <a class="nav-link" ui-sref="login">LOG IN</a>
              </li>
          
              </ul>
          </div>
      </nav>

      <div style="background-color:#81b086;">

           

      <div class="my"  >
            <img id="imageBack" src="images/background.png" style=" position:relative;height:100vh;display: block;margin-left: auto;margin-right: auto " />
          
                <a class="learnmore" onclick="mylinkfunction()" style="  cursor: pointer; position: absolute;transform: translate(-50%,-50%);margin-right: -50%;top: 93%;left: 50%; display:block;
    text-align:center;"><h4  id="learnmoreh4">
         LEARN MORE</h4>
          <span class="glyphicon glyphicon-chevron-down " id="learnmoreh4" ></span> 
        </a> 
            
         
           
            <div>
  

</div> 
               
                            
                           
                          
         
                        </div>
                        
    </div>
<!--                 <div class="row wow swing" data-wow-delay="2s">-->

                     
       


      <!-- END SOCIAL-->

<section id="customers1" >
  
  <div id="how-to-use-my-works" >
      <div class="container">
          <div class="row">

          <div class="col-md-12">
 <div id="how-it-works-carousel"  class="how-it-works carousel" data-interval="false">

<div class="how-it-works-title" style="margin-top:1%;">How My Works works</div>
<hr width="30%">

<!--<div class="instructions">-->
       <div class="row">
<div class="stepbystep">
 
     <div class="col-md-4">
<div>
<div class="process-step"  style="outline:0;">

<div class="steptext">
<div>


<p>Create an account with your business information.</p>
<img src="images/notepad.png" />
</div>
</div>

</div>
      </div>   

    </div>

     <div class="col-md-4">
    <div>
<div class="process-step"  style="outline:0;">

<div class="steptext">
    <div class="secondStep">

<p>Browse in a list of available workers.</p>
<img src="images/notepad (1).png" />
</div>
</div>
</div>
    </div>
</div>


     <div class="col-md-4">
<div>
<div class="process-step"  style="outline:0;">

<div class="steptext">
    <div class="thirdStep">

<p>Send a job request for the days you need help.</p>
<img src="images/mail.png" />
</div>
</div>
</div>
</div>
</div>
</div>
<!--</div> -->
</div>  
              </div>
               <!-- <div class="col-md-12">
                   <div class="screenshot-how-to-get-started-step">
                       <div class="img-wrapper">
                       <img src="images/ScreenShot-signuppage-employer.png" id="screenshot-how-to-get-started-step-image" style="width:150%; height:150%;" data-src="" alt="Sign up page">
                   </div>
                   </div>
               </div> -->
          </div>
          </div>
          </div>
      </div>



      </section>














      <!--WHY-->

      <section id="why" >
      <div class="container text-xs-center">
          <div class="row">
          <div class="col-md-12 ">
              <div class="how-it-works-title" style="padding-top:20px; color:f8f4e4;">Why work with us?</div>
              <hr width="30%">
              <p>Because it has never been easier to find the right person to work with.</p>
              <div class="row">
              <div class="col-md-4 ">
                  <i class="fa fa-thumbs-up fa-3x" aria-hidden="true" ></i>
                  <h3>Customer Satisfaction</h3>
                  <p>Nam lacinia egestas condimentum. Suspendisse suscipit mattis maximus. Mauris lorem turpis, ullamcorper vitae fringilla a, malesuada sed sem.</p>
               </div>

                  <div class="col-md-4 " >
                  <i class="fa fa-line-chart fa-3x" aria-hidden="true"></i>
                  <h3>Instant Result</h3>
                  <p>Nam lacinia egestas condimentum. Suspendisse suscipit mattis maximus. Mauris lorem turpis, ullamcorper vitae fringilla a, malesuada sed sem.</p>
               </div>

                  <div class="col-md-4 " >
                  <i class="fa fa-trophy fa-3x" aria-hidden="true"></i>
                  <h3>Award Winning Service</h3>
                  <p>Nam lacinia egestas condimentum. Suspendisse suscipit mattis maximus. Mauris lorem turpis, ullamcorper vitae fringilla a, malesuada sed sem.</p>
               </div>

              </div>
              <div class="row">
                   </br>
              </br>
                
              </div>
            </div>
          </div>

      </div>
      </section>

      <!--END WHY-->

 
      

      <!--CUSTOMERS-->
      <section id="customers">
      <div class="container text-xs-center" data-wow-delay="0.2s">
      <div class="row">
          <div class="col-md-12">
              <div class="how-it-works-title" style="padding-top:20px;">Reviews</div>
              <hr width="30%">
              <p>Here is what our customers think about us.</p>

              <div class="row">
              <div class="col-md-12">
                  <div id="customer reviews" class="carousel slide" data-ride="carousel">
            
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
        <blockquote class="blockquote col-md-4">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
          <blockquote class="blockquote col-md-4">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
          <blockquote class="blockquote col-md-4">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
    </div>

    <div class="carousel-item">
              <blockquote class="blockquote col-md-4">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
          <blockquote class="blockquote col-md-4">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
          <blockquote class="blockquote col-md-4">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
    </div>

    <div class="carousel-item">
              <blockquote class="blockquote col-md-4">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
          <blockquote class="blockquote col-md-4">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
          <blockquote class="blockquote col-md-4">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
    </div>

  </div>
  <a class="carousel-control-prev" href="#customer reviews" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#customer reviews" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

              </div>
              </div>

          </div>

          </div>
      </div>
      </section>
      
        <section id="footer" >
      <div class="wrapper">
        
      <div class="container text-md-center">
          <div class="row">
          <div class = "col-md-12 col-sm-6">
             <ul class="list-align" style="padding-left:0px;">
                  <li class="list-inline-item social-media-icons"><a href="#"><i class="fa fa-facebook" aria-hidden="true" style="color:white;"></i></a></li>
                  <li class="list-inline-item social-media-icons"><a href="#"><i class="fa fa-twitter" aria-hidden="true" style="color:white;"></i></a></li>
                  <li class="list-inline-item social-media-icons"><a href="#"><i class="fa fa-instagram" aria-hidden="true" style="color:white;"></i></a></li>
              </ul>
              <!--<div class="footer-divider"></div>-->
              <hr style="background-color:white;"/>
              </div>
          </div>
          <div class="row">
          <div class="col-md-8 text-left">
              <ul class="list-footer-element" style="padding-left:0px">
                  <li class="footer-link" style="padding-left:0px"><a href="#">Help</a></li>
                  <li class="footer-link"><a href="#">About us</a></li>
                  <li class="footer-link"><a href="#">Careers</a></li>
                  <li class="footer-link"><a href="#">Press</a></li>
              </ul>
              </div>
              <div class="col-md-4 text-right">
              <ul class="list-footer-element">
                  <li class="footer-link"><a href="#">&copy; 2017 My Works Inc</a></li>
                  <li class="footer-link"><a href="#">Privacy</a></li>
                  <li class="footer-link"><a href="#">Legal</a></li>
              </ul>
              </div>
          </div>
        </div>
           </div>
       
      </section>
             
   
