 <style>@import "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700";

  .container {
    margin-top: 20px;
	}
	</style>
	
	<link rel="stylesheet" href="../styles/MessagesStyles.css">
	<link href="styles/main.css" rel="stylesheet">
	<script src="../scripts/MessagesJS.js"></script>
	<script src="../scripts/DataModelJS.js"></script>
	<div class="container">
	<main id="messagesPage" style="margin-bottom:5%">
			<div id="left-panel" class="jobpage">
			  <h3 class="titleHeading">Contacts</h3>
				<hr>
			  <div class="shared-title-bar__title msg-search-form__title-bar-title">
<!---->
<!---->

  
  <input type="search" name="searchTerm" placeholder="   Search messages" id="search-conversations" class="msg-search-form__search-field Sans-15px-black-85% ember-text-field ember-view">
<span class="msg-search-form__search-icon svg-icon-wrap"><li-icon aria-hidden="true" type="search-icon" size="small"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" style="margin-top: 20%;" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="small-icon" style="fill-opacity: 1">
        <path d="M14,12.67L11.13,9.8A5,5,0,1,0,9.8,11.13L12.67,14ZM3.88,7A3.13,3.13,0,1,1,7,10.13,3.13,3.13,0,0,1,3.88,7Z"></path>
      </g></svg></li-icon></span>  
</div>

				<div id="contacts" style="flex: 1 1 auto">
					<hr>
					<div id="contact-list">
					</div>
				</div>
			
		  </div>
			<div id="rightPanel" class="jobpage">
				<div id="top-panel"></div>
				<div id="bottom-panel"></div>
				<div id="send-panel">
					<input type="text" id="sendMessageTF" class="form-control" placeholder="Write your messege here ..">
					
				</div>
			</div>
		</main>
		
</div>
