<style>
	.table thead tr th, .table tbody tr td {
	font-size: 12px;}


	 @import "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700";

  .container {
    margin-top: 20px;
  }

	</style>
	<script type="text/JavaScript">
    

function download(){
    window.open( "data:text/csv,field1%2Cfield2%0Afoo%2Cbar%0Agoo%2Cgai%0A" );}

	</script>
 
   
<script src="Javascript/payment.js"></script>
<link rel="stylesheet" href="Style/tablesFormat.css">
<link href="styles/main.css" rel="stylesheet">

<div class="container">
						<div class="col-md-12 jobpage">
<div id="exTab2">	
<ul class="nav nav-tabs">
			<li>
        <a  class="navjobs active" ui-sref="app.paymentHistory">Payment History</a>
			</li>
			<li><a ui-sref="app.payment">Payment Method</a>
			</li>
			
		</ul>

  </div>


          <table id="my-works-table" class="table well" style="margin-bottom:20%;">
                             <thead>
                                 <tr>
                                   <th>Invoice no.</th>
		            				<th>Date</th>
		            				<th>Payment Status</th>
		            				<th>Amount</th>
									 <th><th>   
                                 </tr>
                             </thead>
							<tbody>
								<td>1223223</td>
		            	<td>Nov 23, 2016</td>
			            <td>Paid</td>
						<td>$200</td>
						<td><button id="basic" class="btn btn-sm btn-block"  onclick="download();" style="background-color:#61c46e;color:white;">Download Invoice</button></td>
						 <input type="text" name="name" value="test.txt" style="display:none;">
						<textarea name="text" style="display:none;">234324324</textarea>
						</tr>
						 	<tr>
						<td>12232323</td>
		            	<td>Nov 30, 2016</td>
			            <td>Paid</td>
						<td>$200</td>
						<td><button  id="basic"class="btn  btn-sm btn-block" onclick="download();" style="background-color:#61c46e;color:white;">Download Invoice</button></td>
						</tr>
                        	<tr>
						<td>1225455</td>
		            	<td>Dec 23, 2016</td>
			            <td>Paid</td>
						<td>$200</td>
						<td><button  id="basic" class="btn  btn-sm btn-block" onclick="download();" style="background-color:#61c46e;color:white;">Download Inovice</button></td>
						</tr>
                        <td>1223223</td>
		            	<td>Nov 23, 2016</td>
			            <td>Paid</td>
						<td>$200</td>
						<td><button  id="basic" class="btn  btn-sm btn-block" onclick="download();" style="background-color:#61c46e;color:white;">Download Inovice</button></td>
						</tr>
                        <td>1223223</td>
		            	<td>Nov 23, 2016</td>
			            <td>Paid</td>
						<td>$200</td>
						<td><button  id="basic"class="btn  btn-sm btn-block" onclick="download();" style="background-color:#61c46e;color:white;">Download Invoice</button></td>
						</tr>
                        <td>1223223</td>
		            	<td>Nov 23, 2016</td>
			            <td>Paid</td>
						<td>$200</td>
						<td><button id="basic" class="btn  btn-sm btn-block"  onclick="download();" style="background-color:#61c46e;color:white;">Download Invoice</button></td>
						</tr>
                        <td>1223223</td>
		            	<td>Nov 23, 2016</td>
			            <td>Paid</td>
						<td>$200</td>
						<td><button  id="basic" class="btn  btn-sm btn-block" onclick="download();" style="background-color:#61c46e;color:white;">Download Invoice</button></td>
						</tr>
                        <td>1223223</td>
		            	<td>Nov 23, 2016</td>
			            <td>Paid</td>
						<td>$200</td>
						<td><button  id="basic" class="btn  btn-sm btn-block" onclick="download();" style="background-color:#61c46e;color:white;">Download Invoice</button></td>
						</tr>
                        <td>1223223</td>
		            	<td>Nov 23, 2016</td>
			            <td>Paid</td>
						<td>$200</td>
						<td><button id="basic" class="btn  btn-sm btn-block" onclick="download();" style="background-color:#61c46e;color:white;">Download Invoice</button></td>
						</tr>
							</tbody>
          </table>



  </div>



</div>











